* {
    padding: 0;
    margin: 0;
}

.reklama-class {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.reklama-left-class {
    width: 50%;
    height: 100vh;
}

.reklama-left-class img {
    width: 100%;
    height: 100%;
}

.reklama-right-class {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc381b;
    width: 50%;
    height: 100vh;
}

.reklama-right-class>span {
    color: white;
    font-size: 10em;
}